*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width:100%;
    height:100vh;
    background: url("./background.png");
    background-size: cover; /* Ensures the image covers the entire background, also if screen width decreases then it will crop the image rather than squeezing it */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    gap:25px;
    font-family: "Playwrite DE Grund", cursive;
}

.search 
{
    /* width: 50%;   
    height:100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

input
{
    width: 315px;
    height: 25px;
    padding: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    outline: none;
    background: white;
    color: gray;
}

button{
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}

#btn_search
{
    width:100%;
    height:100%;
    border-bottom-right-radius:7px ;
    border-top-right-radius: 7px;
}

#btn_search:hover{
    cursor: pointer;
}

.data
{
    width:315px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.city
{
    display: flex;
    gap:5px;
    align-items: baseline;
    color: gray;
}

.temperature
{
    display: flex;
    gap:15px;
    align-items: baseline;
    color: rgb(16, 164, 222);
}

.temperature img{
    width: 60px;
    height: 40px;
}

